<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="winrarpath" value="C:\Program Files (x86)\WinRAR\WinRAR.exe"/>
    <add key="emailadd" value="it-lnz.at@trench-group.com"/>
    <add key="userdomain" value="ww003.Siemens.net"/>
    <add key="ConnectionString1" value="Data Source=(local);Initial Catalog=SiemensCRM;User ID=sa;Password=mengde;Max Pool Size = 512"/>
    <add key="ConnectionString" value="Initial Catalog=SiemensCRM;Data Source=(local);Integrated Security=SSPI;Max Pool Size = 512"/>
    <add key="FileMaxRequestLength" value="2097152"/>
    <add key="AuthenticationTable" value="Administrator,Executive,GeneralMarketingMgr,GeneralSalesMgr,RSM, Assistant"/>
    <!--size in bytes-->
    <add key="LimitFileTypes" value=".txt,.zip,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.vsd,.sln,.csproj,.aspx,.ascx,.aspx.cs,.aspx.vb,.cs,.vb,.asax,.config,.aspx.resx,.resx,.xsd,.pdb,.asmx,.vsdisco,.htc"/>
    <!--e.g.: value="exe,mp3,msi" -->
    <add key="ServerName" value="Current System is Test Server."/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpRuntime executionTimeout="180" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false"/>
    <sessionState mode="InProc" timeout="80"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Office.Interop.Owc11, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Office, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/>
        <add assembly="Microsoft.Office.Interop.PowerPoint, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/>
        <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Forms">
            <forms loginUrl="logon.aspx" name="adAuthCookie" timeout="10" path="/">
            </forms>
        </authentication>
        <authorization>
            <deny users="?"/>
            <allow users="*"/>
        </authorization>
        <identity impersonate="true"/>-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="Off" defaultRedirect="AccessDenied.aspx">
      <error statusCode="404" redirect="404Error.aspx"/>
    </customErrors>
    <pages theme="default" styleSheetTheme="default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!-- By DingJunjie 20110506 Item 18  Add Start -->
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <!-- By DingJunjie 20110506 Item 18  Add End -->
      </controls>
    </pages>
    <httpHandlers>
      <add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
    </httpHandlers>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>